* {
  box-sizing: border-box;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 175%;
  text-align: center;
}

div { 

	margin: 5px;
}

.msh{
	margin: 0px;
	padding: 5px 5px 5px 5px;
}

.subheader {
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid black;
	border-top: none;
	border-right: none;
	width: 200px;
	float: right;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
}

.menu-section {
	position: relative;
	background-color: rgb(153,153,153);
	margin: 0px 0px 0px 0px;
	border: 1px solid black;
}

.menu-text {
	margin-left: 15px;
	clear: right;	
}

#chicken{
	background-color: rgb(213,152,152);
}

#beef{
	background-color: rgb(193,69,67);
	color: white;
}

#sushi{
	background-color: rgb(229,209,152);
}

/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px) {
   
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
  
}
/********** Medium devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}