body {
  font-size: 16px;
  color: #1F0439;
  background-color: #AA6C39;
  font-family: 'Cinzel Decorative', cursive;
}

/** HEADER **/

#header-nav {
  background-color: #99A637;
  border-radius: 0;
  border: 0;
}

#navbar-brand-food {
  color: #552600;
  font-size: 30px;
  font-weight: bold;
}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  /*margin-top: -30px;*/
}
/* END HEADER */

#chicken
{
  background-color: #EFF9A6;
  margin-right: 20px;
  margin-left: 20px;
  height: 800px;
}


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */

  /* Home Page */
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */  
  /* End Header */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  /* End Header */
  
  /* Home page */
}

